/.idea/
/fim_db/
/nxt_db/
/nxt.iml
/webapps/
/classes/
/*.log
/*.log.*
/html/doc/*
/html/**/*.gz
/keystore
/fim.jar
/fim_test_db/
/fim_db/
/fim.linux/
/fim.mac/
/fim.win/
*.trace
/fim-trace.csv
/README_win.txt
/package.sh
/nxt.log.lck
/bin
/.classpath
/.project
/.settings/
/compile.bat
/MY_Genesis.java
/genesis.rb
/test_net_keys.csv
/logs/*
/accounts.csv
/*.zip
/announcements/
*.csv
dist
/html/ui/beta/*
