/.idea/
/nxt_db*
/nxt_test_db*
/nxt.iml
/webapps/
/classes/
/*.log
/*.log.*
/html/doc/*
/html/**/*.gz
/keystore
/fim.jar
/fim_test_db*
/fim_db*
*.trace
/fim-trace.csv
/README_win.txt
/package.sh
/nxt.log.lck
/bin
/.classpath
/.project
/.settings/
/compile.bat
/test/classes/
/test_net_keys.csv
/logs/*
/*.zip
/announcements/
*.csv
dist
downloads
fim_db.backup
