/.idea/
/fim_db/
/webapps/
/classes/
/*.log
/html/doc/*
/keystore
/fim.jar
/fim.zip
/fim_test_db/
/fim_db/
*.trace
/fim-trace.csv
/README_win.txt
/package.sh
/nxt.log.lck
/bin/
*.orig
/genesis.rb
/main_net_keys.csv
/test_net_stakeholders.csv
/MY_Genesis.java
/genesis.rb
/test_net_keys.csv
/logs/*
/accounts.csv
