<div class="row">
  <div class="col-md-12 col-100">
    <ul class="nav nav-tabs nav-justified" role="tablist" style="float: left; width: 100%">
      <li>
        <a ng-click="addAccount()" style="cursor:pointer" class="glyphicon glyphicon-tint" 
          role="tab">&nbsp;<strong style="text-decoration: underline">Add Account</strong></a>
      </li>
      <li ng-repeat="a in accounts" ng-class="{ active: a.active }">
        <a class="glyphicon glyphicon-user" ui-sref="accounts({ account_id_rs: a.account_id_rs })" role="tab"> {{a.name}}</a>
      </li>
    </ul>
    <div style="height:100%">
      <div class="row" style="height: auto; float: left; width: 100%">
        <div class="col-md-6">
          <fieldset>
            <div class="control-group row">
              <label class="control-label input-label col-xs-4" for="account-id">Account</label>
              <span class="form-control-static" id="account-id">{{selectedAccount.account_id_rs}}</span>
            </div>
            <div class="control-group row">
              <label class="control-label input-label col-xs-4" for="account-id">Account</label>
              <span class="form-control-static" id="account-id">{{selectedAccount.account_id}}</span>
            </div>
            <div class="control-group row">
              <label class="control-label input-label col-xs-4" for="account-forged-balance">Forged</label>
              <span class="form-control-static" id="account-forged-balance">{{selectedAccount.forgedBalanceNQT | money : 8}}</span>
            </div>
          </fieldset>
        </div>
        <div class="col-md-6">
          <fieldset>
            <div class="control-group row">
              <label class="control-label input-label col-xs-4" for="account-balance">Balance</label>
              <span class="form-control-static" id="account-balance">{{selectedAccount.balanceNQT | money : 8}}</span>
            </div>
            <div class="control-group row">
              <label class="control-label input-label col-xs-4" for="account-effective-balance">Effective</label>
              <span class="form-control-static" id="account-effective-balance">{{selectedAccount.effectiveBalanceNQT | money : 8}}</span>
            </div>
            <div class="control-group">
              <a ng-click="removeAccount(selectedAccount)" class="btn btn-xs btn-warning">Remove Account</a>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-100">
          <tabset justified="true">
            <tab>
              <tab-heading>
                <i class="glyphicon glyphicon-usd"></i> Transactions
              </tab-heading>
              <div ui-view="transactions"></div>
            </tab>
            <tab>
              <tab-heading>
                <i class="glyphicon glyphicon-flash"></i> Assets
              </tab-heading>
              Assets go here
            </tab>
            <tab>
              <tab-heading>
                <i class="glyphicon glyphicon-globe"></i> Aliases
              </tab-heading>
              Aliases go here
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>




<!--         <div class="row">
          
        </div>
        <div class="row">
          <div class="col-md-12">
            
          </div>
        </div>
 -->