<div class="row row-half-height">
  <div class="col-md-3 col-100">
    <fieldset>
      <div class="control-group row">
        <label class="control-label input-label col-xs-4" for="account-balance">Date</label>
        <span class="form-control-static" id="account-balance">{{selectedTransactions[0].date}}</span>
      </div>      
      <div class="control-group row">
        <label class="control-label input-label col-xs-4" for="account-id">Transaction</label>
        <span class="form-control-static" id="account-id">{{selectedTransactions[0].transaction}}</span>
      </div>
      <div class="control-group row">
        <label class="control-label input-label col-xs-4" for="account-balance">Account</label>
        <span class="form-control-static" id="account-balance">{{selectedTransactions[0].account}}</span>
      </div>
      <div class="control-group row">
        <label class="control-label input-label col-xs-4" for="account-effective-balance">Amount</label>
        <span class="form-control-static" id="account-effective-balance">{{selectedTransactions[0].amount}}</span>
      </div>
      <div class="control-group row">
        <label class="control-label input-label col-xs-4" for="account-forged-balance">Fee</label>
        <span class="form-control-static" id="account-forged-balance">{{selectedTransactions[0].fee}}</span>
      </div>
    </fieldset>
  </div>
  <div class="col-md-3 col-100">
    <fieldset>
      <div class="control-group row">
        <label class="control-label input-label col-xs-4" for="account-id">Type</label>
        <span class="form-control-static" id="account-id">{{selectedTransactions[0].type}}</span>
      </div>
      <div class="control-group row" ng-repeat="(name, value) in selectedTransactions[0].attachment">
        <label class="control-label input-label col-xs-4" for="account-id">{{name}}</label>
        <span class="form-control-static" id="account-id">{{value}}</span>
      </div>
    </fieldset>
  </div>  
</div>
<div class="row row-half-height">
  <div class="col-md-12 col-100">
    <div class="gridStyle" ng-grid="gridOptions" style="height:300px"></div>
  </div>
</div>

