<div class="panel panel-default" ng-controller="confirmOrderController">
  <div class="panel-heading">
    <h3 class="panel-title">Confirm Buy Order</h3>
  </div>
  <div class="panel-body">
    <div class="well well-sm text-center">
      Are you sure you wan't to submit the following Buy order?<p>
      <strong>Buy {{order.amount | money : order.selectedPair.quote.decimals}} {{order.selectedPair.quote.symbol}} for {{order.price | money : order.selectedPair.base.decimals}} {{order.selectedPair.base.symbol}} each</strong>
    </div>
    <table class="table table-condensed">
      <tbody>
        <tr><td>Price</td><td>{{order.price | money : order.selectedPair.base.decimals}} {{order.selectedPair.base.symbol}}/{{order.selectedPair.quote.symbol}}</td></tr>
        <tr><td>Amount</td><td>{{order.amount | money : order.selectedPair.quote.decimals}} {{order.selectedPair.quote.symbol}}</td></tr>
        <tr><td>Fee</td><td>{{order.fee | money : order.selectedPair.base.decimals}} {{order.selectedPair.base.symbol}}</td></tr>
        <tr><td><strong>Total price</strong></td><td><strong>{{order.total + order.fee | money : order.selectedPair.base.decimals}} {{order.selectedPair.base.symbol}}</strong></td></tr>        
      </tbody>
    </table>
    <div style="width: 100%;">
      <button type="button" class="btn btn-danger btn-lg pull-left" ng-click="cancel()"><strong>NO!</strong> Cancel this Buy Order</button>
      <button type="button" class="btn btn-success btn-lg pull-right" ng-click="confirm()"><strong>YES!</strong> I Confirm this Buy Order</button>
    </div>
  </div>
</div>