<!-- partial-exchange.html -->
<div class="row row-half-height">
  <div class="col-md-2 col-100">
    <div ui-view="markets"></div>
  </div>
  <div class="col-md-6 col-100">
    <div ui-view="chart"></div>
  </div>
  <div class="col-md-4 col-100">
    <div ui-view="overview"></div>
  </div>
</div>
<div class="row row-half-height">
  <div class="col-md-4 col-100">
    <div ui-view="bids"></div>
  </div> 
  <div class="col-md-4 col-100">
    <div ui-view="asks"></div>
  </div>
  <div class="col-md-4 col-100">
    <div ui-view="trades"></div>
  </div>    
</div>