<!-- partial-home.html -->
<div class="row row-half-height">
  <div class="col-md-12 col-100">
    <div class="jumbotron text-center home-jumbotron">
      <h1><strong>BETA</strong> FIMK Community Client</h1>
      <div ng-if="isNodeJS">
        <span>Click the button to start the FIMK server</span>
        <br/>
        <p>
          <button ng-show="serverRunning == false" ng-click="serverService.startServer()" class="btn btn-primary btn-big">Start Server</button>
          <button ng-show="serverRunning == true" ng-click="serverService.stopServer()" class="btn btn-danger btn-big">Stop Server</button>
        </p>
      </div>
    </div>    
  </div>
</div>
<div class="row row-half-height">
  <div class="col-md-12 col-100">
    <div class="panel panel-default" ng-if="isNodeJS">
      <div class="panel-body" style="overflow: auto">
        <p ng-repeat="message in messages"><code>{{message}}</code></p>
      </div>
    </div>
  </div>    
</div>
