<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Enter Secretphrase</h3>
  </div>
  <div class="panel-body">
    <form accept-charset="UTF-8" role="form" name="secretPhraseForm">
      <fieldset>
        <div class="form-group">
          <input class="form-control" placeholder="Name" name="name" type="text" ng-model="items.secretPhrase">
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input id="secret-remember-checkbox" name="remember" type="checkbox" value="Remember secret phrase">
            <label for="secret-remember-checkbox">Remember secret phrase</label>
          </div>
        </div>        
        <div class="form-group">
          <div class="col-xs-6">
            <button class="btn btn-block btn-success" ng-click="close()">OK</button>
          </div>
          <div class="col-xs-6">
            <button ng-click="dismiss()" type="button" class="btn btn-block btn-warn">Cancel</button>
          </div>
        </div>  
      </fieldset>
    </form>
  </div>
</div>