.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.back-next-group .col-xs-3 {
  padding-left: 2px;
  padding-right: 2px;
}

.form-group {
  margin-bottom: 2px;
}

.form-horizontal .control-label {
  text-align: left;
}

.ng-table {
  border: 1px solid #e0e0e0;
}

.ng-table th.text-right {
  text-align: right;
}

.ng-table th.text-left {
  text-align: left;
}

input.monospace, select.monospace, textarea.monospace {
  font: 14px monospace;
}

.malformed_address {
  font-weight: bold;
  cursor: pointer;
}
.malformed_address b {
  text-decoration: underline;
  color: black;
}

.gridStyle {
  border: 1px solid #d4d4d4;
  height: 100%;
  width: 100%;
}

.no-padding {
  padding: 0px;
}

.rightAlignCell {
  text-align: right;
}

.fake-link {
  color: black;
  cursor: hand;
}

.navbar {
  height: 40px;
}
.navbar img {
  max-height: 60px;
  min-height: 60px;
}

fieldset {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.exchange-top-row .panel {
  min-height: 360px;
  max-height: 360px;
  height: 360px;
}
.exchange-top-row .panel-body {
  height: 100%;
}

.exchange-bottom-row .panel-heading {
  height: 42px;
  padding: 4px 6px;
}
.exchange-bottom-row .panel-heading button {
  height: 22px;
}
